.adminsimple-breadcrumbs
  = link_to("<i class='icon-home'></i>#{t('adminsimple.main_nav.home')}".html_safe, adminsimple.root_url, rel: 'tooltip', title: "Go to Home", data: {placement: 'bottom'})
  = render_crumbs(separator: '')
