body#adminsimple_simple
  background: white

body#adminsimple_simple.sign-in
  background: white

#adminsimple_simple
  #header
    border-bottom: 1px solid #ccc
    h1 a
      color: #222

  #search input
    box-shadow: 0 1px 2px rgba(black, 0.6) inset, 0 1px 0 rgba(black, 0.1)
    &:focus
      box-shadow: 0 0 6px 2px #52a8ec, 0 1px 2px rgba(black, 0.6) inset
  #search button
    color: #222

  #user_nav > ul > li > a
    color: #666

  #user_nav > ul > li > a:hover,
  #user_nav > ul > li > a i,
  #user_nav > ul .active > a,
  #user_nav > ul .active > a i
    color: #222

  #main_nav .collapse-btn
    color: #222
  #main_nav > ul
    background: white
  #main_nav > ul > li
    border-bottom: 1px solid #ccc
    > a
      color: #333
      text-shadow: 0 1px 0 rgba(white, 0.5)
    > a:hover
      background-color: #eee
    .label
      background-color: #eee
  #main_nav > ul > li.active
    box-shadow: none
    background-color: #f3f3f3
    &:after
      color: #ccc
  #main_nav > ul ul
    background-color: white
    box-shadow: none
    li:first-child
      border-top: 1px solid #ccc
    li a
      color: #333
    li:hover a, li.active a
      color: #333
      background-color: #ddd

  #content
    margin-top: 0
  #content,
  #content > .filler
    background: white
    border-left: 1px solid #ccc

@media (max-width: 769px) and (min-width: 480px)
  #adminsimple_simple
    #main_nav > ul ul li
      border-bottom: 1px solid #ccc
      border-right: 1px solid #ccc
      border-left: 1px solid #ccc

