= page_header title: "Various Elements"

= widget_box title: 'Buttons', icon: 'bookmark' do

  %h3 Basic Buttons
  .btn-toolbar
    %button.btn.btn-default Button
    %button.btn.btn-primary Primary
    %button.btn.btn-success Success
    %button.btn.btn-info Info
    %button.btn.btn-warning Warning
    %button.btn.btn-danger Danger


  %h3 Sizes
  %p Utilize the extra button classes <code>.btn-lg</code>, <code>.btn-sm</code> or <code>.btn-xs</code> for sizing.
  .btn-toolbar
    %button.btn.btn-lg Large
    %button.btn Normal
    %button.btn.btn-sm Small
    %button.btn.btn-xs Extra Small


  %h3 Dropdowns
  %p Dropdown menus can also be toggled from the bottom up by adding a <code>.dropup</code> class to the <code>.btn-group</code> It will flip the direction of the caret and reposition the menu itself to move from the bottom up instead of top down.
  .btn-toolbar
    .btn-group
      %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} Button <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}} Primary <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-success.dropdown-toggle{data: {toggle: 'dropdown'}} Success <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-info.dropdown-toggle{data: {toggle: 'dropdown'}} Info <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-warning.dropdown-toggle{data: {toggle: 'dropdown'}} Warning <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-danger.dropdown-toggle{data: {toggle: 'dropdown'}} Danger <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>


  %h3 Split dropdowns
  %p Building on the button group styles and markup, we can easily create a split button. Split buttons feature a standard action on the left and a dropdown toggle on the right with contextual links.
  .btn-toolbar{:style => "margin-top: 18px;"}
    .btn-group
      %button.btn.btn-default Button
      %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-primary Primary
      %button.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-success Success
      %button.btn.btn-success.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-info Info
      %button.btn.btn-info.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-warning Warning
      %button.btn.btn-warning.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-danger Danger
      %button.btn.btn-danger.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>


  %h3 Icons
  %p You can also use icons within buttons.  You can combine these into a button group for a complete toolbar as well.
  .btn-toolbar
    %button.btn.btn-default <i class="icon-eye-open"></i> View
    %button.btn.btn-primary <i class="icon-refresh"></i> Update
    %button.btn.btn-info <i class="icon-pencil"></i> Edit
    %button.btn.btn-danger <i class="icon-remove"></i> Delete
  %br/
  .btn-toolbar
    .btn-group
      %button.btn.btn-default <i class="icon-step-backward"></i>
      %button.btn.btn-default <i class="icon-fast-backward"></i>
      %button.btn.btn-default <i class="icon-backward"></i>
      %button.btn.btn-default <i class="icon-play"></i>
      %button.btn.btn-default <i class="icon-pause"></i>
      %button.btn.btn-default <i class="icon-stop"></i>
      %button.btn.btn-default <i class="icon-forward"></i>
      %button.btn.btn-default <i class="icon-fast-forward"></i>
      %button.btn.btn-default <i class="icon-step-forward"></i>


  %h3 Tooltips
  %span You can display tooltips on various elements by adding a <code>rel="tooltip"</code> and <code>title</code> attribute to any element.  Here we use buttons as examples.  You can also optionally specify direction by adding a <code>data-placement</code> attribute.
  .btn-toolbar
    %button.btn.btn-default{rel: 'tooltip', title: 'Tooltip in top'} Top
    %button.btn.btn-primary{rel: 'tooltip', title: 'Tooltip in right', data: {placement: 'right'}} Right
    %button.btn.btn-warning{rel: 'tooltip', title: 'Tooltip in bottom', data: {placement: 'bottom'}} Bottom
    %button.btn.btn-success{rel: 'tooltip', title: 'Tooltip in left', data: {placement: 'left'}} Left


.row-fluid
  .span6
    = widget_box title: 'Progress bars', icon: 'th-list' do
      .progress
        .progress-bar.progress-bar-primary(style="width:80%")
      .progress.progress-striped
        .progress-bar.progress-bar-primary(style="width:40%")
      .progress.progress-striped.active
        .progress-bar.progress-bar-primary(style="width:60%")

      %h3 Colors
      %p
        By adding <code>.progress-success</code>, <code>.progress-warning</code> and <code>.progress-danger</code> etc. you can achieve different colors as well.
      .progress.progress-striped
        .progress-bar.progress-bar-success(style="width:40%")
        .sr-only 40% Complete (success)
      .progress.progress-striped
        .progress-bar.progress-bar-info(style="width:20%")
        .sr-only 20% Complete (success)
      .progress.progress-striped
        .progress-bar.progress-bar-warning(style="width:60%")
        .sr-only 60% Complete (success)
      .progress.progress-striped
        .progress-bar.progress-bar-danger(style="width:80%")
        .sr-only 80% Complete (success)


  .span6
    = widget_box title: 'Labels and badges', icon: 'certificate' do
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th{width: '20%'} Label/Badge
            %th{width: '80%'} Markup
        %tbody
          %tr
            %td
              %span.label.label-default Default
            %td <code>&ltspan class="label label-default"&gt</code>
          %tr
            %td
              %span.label.label-primary Primary
            %td <code>&ltspan class="label label-primary"&gt</code>
          %tr
            %td
              %span.label.label-success Success
            %td <code>&ltspan class="label label-success"&gt</code>
          %tr
            %td
              %span.label.label-info Info
            %td <code>&ltspan class="label label-info"&gt</code>
          %tr
            %td
              %span.label.label-warning Warning
            %td <code>&ltspan class="label label-warning"&gt</code>
          %tr
            %td
              %span.label.label-danger Danger
            %td <code>&ltspan class="label label-danger"&gt</code>
          %tr
            %td
              %span.badge 42
            %td <code>&ltspan class="badge"&gt</code>
