= page_header title: "Form Examples"

= widget_box title: 'Text inputs', icon: 'align-justify' do
  %form.form-horizontal{action: '#', method: 'get'}
    .form-inputs
      .form-group
        %label.col-lg-3.control-label Normal text input
        .col-lg-9
          %input.form-control{type: 'text'}
      .form-group
        %label.col-lg-3.control-label Password input
        .col-lg-9
          %input.form-control{type: 'password'}
      .form-group
        %label.col-lg-3.control-label Input with description
        .col-lg-9
          %input.form-control{type: 'text'}
            %p.help-block This is a description
      .form-group
        %label.col-lg-3.control-label Input with placeholder
        .col-lg-9
          %input.form-control{placeholder: 'This is a placeholder...', type: 'text'}
      .form-group
        %label.col-lg-3.control-label Normal textarea
        .col-lg-9
          %textarea.form-control{style: 'height:50px'}
      %fieldset
        %legend Select, radio, checkboxes, and file inputs
        .form-group
          %label.col-lg-3.control-label Select input
          .col-lg-9
            %select.form-control.chzn-select
              %option First option
              %option Second option
              %option Third option
              %option Fourth option
              %option Fifth option
              %option Sixth option
              %option Seventh option
              %option Eighth option
        .form-group
          %label.col-lg-3.control-label Multiple Select input
          .col-lg-9
            %select.form-control.chzn-select{multiple: 'multiple'}
              %option First option
              %option{selected: 'selected'} Second option
              %option Third option
              %option Fourth option
              %option Fifth option
              %option Sixth option
              %option Seventh option
              %option Eighth option
        .form-group
          %label.col-lg-3.control-label Radio inputs
          .col-lg-9
            %label.radio-inline
              %input{name: 'radios', type: 'radio'}
              First One
            %label.radio-inline
              %input{name: 'radios', type: 'radio'}
              Second One
            %label.radio-inline
              %input{name: 'radios', type: 'radio'}
              Third One
        .form-group
          %label.col-lg-3.control-label Checkboxes
          .col-lg-9
            %label.checkbox-inline
              %input{name: 'radios', type: 'checkbox'}
              First One
            %label.checkbox-inline
              %input{name: 'radios', type: 'checkbox'}
              Second One
            %label.checkbox-inline
              %input{name: 'radios', type: 'checkbox'}
              Third One
        .form-group
          %label.col-lg-3.control-label File upload input
          .col-lg-9
            %input.form-control{type: 'file'}/

    .form-group
      .col-lg-offset-2.col-lg-9
        %button.btn.btn-primary{type: 'submit'} Save
