= page_header title: "Icon List"

= widget_box title: 'Icons', icon: 'play-circle' do
  .styleguide-icons
    %ul
      %li <i class="icon-rub"></i> icon-rub
      %li <i class="icon-ruble"></i> icon-ruble
      %li <i class="icon-rouble"></i> icon-rouble
      %li <i class="icon-pagelines"></i> icon-pagelines
      %li <i class="icon-stack-exchange"></i> icon-stack-exchange
      %li <i class="icon-arrow-circle-o-right"></i> icon-arrow-circle-o-right
      %li <i class="icon-arrow-circle-o-left"></i> icon-arrow-circle-o-left
      %li <i class="icon-caret-square-o-left"></i> icon-caret-square-o-left
      %li <i class="icon-toggle-left "></i> icon-toggle-left
      %li <i class="icon-dot-circle-o"></i> icon-dot-circle-o
      %li <i class="icon-wheelchair"></i> icon-wheelchair
      %li <i class="icon-vimeo-square"></i> icon-vimeo-square
      %li <i class="icon-try"></i> icon-try
      %li <i class="icon-turkish-lira"></i> icon-turkish-lira
      %li <i class="icon-plus-square-o"></i> icon-plus-square-o
      %li <i class="icon-adjust"></i> icon-adjust
      %li <i class="icon-anchor"></i> icon-anchor
      %li <i class="icon-archive"></i> icon-archive
      %li <i class="icon-arrows"></i> icon-arrows
      %li <i class="icon-arrows-h"></i> icon-arrows-h
      %li <i class="icon-arrows-v"></i> icon-arrows-v
      %li <i class="icon-asterisk"></i> icon-asterisk
      %li <i class="icon-ban"></i> icon-ban
      %li <i class="icon-bar-chart-o"></i> icon-bar-chart-o
      %li <i class="icon-barcode"></i> icon-barcode
      %li <i class="icon-bars"></i> icon-bars
      %li <i class="icon-beer"></i> icon-beer
      %li <i class="icon-bell"></i> icon-bell
      %li <i class="icon-bell-o"></i> icon-bell-o
      %li <i class="icon-bolt"></i> icon-bolt
      %li <i class="icon-book"></i> icon-book
      %li <i class="icon-bookmark"></i> icon-bookmark
      %li <i class="icon-bookmark-o"></i> icon-bookmark-o
      %li <i class="icon-briefcase"></i> icon-briefcase
      %li <i class="icon-bug"></i> icon-bug
      %li <i class="icon-building-o"></i> icon-building-o
      %li <i class="icon-bullhorn"></i> icon-bullhorn
      %li <i class="icon-bullseye"></i> icon-bullseye
      %li <i class="icon-calendar"></i> icon-calendar
      %li <i class="icon-calendar-o"></i> icon-calendar-o
      %li <i class="icon-camera"></i> icon-camera
      %li <i class="icon-camera-retro"></i> icon-camera-retro
      %li <i class="icon-caret-square-o-down"></i> icon-caret-square-o-down
      %li <i class="icon-caret-square-o-left"></i> icon-caret-square-o-left
      %li <i class="icon-caret-square-o-right"></i> icon-caret-square-o-right
      %li <i class="icon-caret-square-o-up"></i> icon-caret-square-o-up
      %li <i class="icon-certificate"></i> icon-certificate
      %li <i class="icon-check"></i> icon-check
      %li <i class="icon-check-circle"></i> icon-check-circle
      %li <i class="icon-check-circle-o"></i> icon-check-circle-o
      %li <i class="icon-check-square"></i> icon-check-square
      %li <i class="icon-check-square-o"></i> icon-check-square-o
      %li <i class="icon-circle"></i> icon-circle
      %li <i class="icon-circle-o"></i> icon-circle-o
      %li <i class="icon-clock-o"></i> icon-clock-o
      %li <i class="icon-cloud"></i> icon-cloud
      %li <i class="icon-cloud-download"></i> icon-cloud-download
      %li <i class="icon-cloud-upload"></i> icon-cloud-upload
      %li <i class="icon-code"></i> icon-code
      %li <i class="icon-code-fork"></i> icon-code-fork
      %li <i class="icon-coffee"></i> icon-coffee
      %li <i class="icon-cog"></i> icon-cog
      %li <i class="icon-cogs"></i> icon-cogs
      %li <i class="icon-comment"></i> icon-comment
      %li <i class="icon-comment-o"></i> icon-comment-o
      %li <i class="icon-comments"></i> icon-comments
      %li <i class="icon-comments-o"></i> icon-comments-o
      %li <i class="icon-compass"></i> icon-compass
      %li <i class="icon-credit-card"></i> icon-credit-card
      %li <i class="icon-crop"></i> icon-crop
      %li <i class="icon-crosshairs"></i> icon-crosshairs
      %li <i class="icon-cutlery"></i> icon-cutlery
      %li <i class="icon-dashboard "></i> icon-dashboard
      %li <i class="icon-desktop"></i> icon-desktop
      %li <i class="icon-dot-circle-o"></i> icon-dot-circle-o
      %li <i class="icon-download"></i> icon-download
      %li <i class="icon-edit "></i> icon-edit
      %li <i class="icon-ellipsis-h"></i> icon-ellipsis-h
      %li <i class="icon-ellipsis-v"></i> icon-ellipsis-v
      %li <i class="icon-envelope"></i> icon-envelope
      %li <i class="icon-envelope-o"></i> icon-envelope-o
      %li <i class="icon-eraser"></i> icon-eraser
      %li <i class="icon-exchange"></i> icon-exchange
      %li <i class="icon-exclamation"></i> icon-exclamation
      %li <i class="icon-exclamation-circle"></i> icon-exclamation-circle
      %li <i class="icon-exclamation-triangle"></i> icon-exclamation-triangle
      %li <i class="icon-external-link"></i> icon-external-link
      %li <i class="icon-external-link-square"></i> icon-external-link-square
      %li <i class="icon-eye"></i> icon-eye
      %li <i class="icon-eye-slash"></i> icon-eye-slash
      %li <i class="icon-female"></i> icon-female
      %li <i class="icon-fighter-jet"></i> icon-fighter-jet
      %li <i class="icon-film"></i> icon-film
      %li <i class="icon-filter"></i> icon-filter
      %li <i class="icon-fire"></i> icon-fire
      %li <i class="icon-fire-extinguisher"></i> icon-fire-extinguisher
      %li <i class="icon-flag"></i> icon-flag
      %li <i class="icon-flag-checkered"></i> icon-flag-checkered
      %li <i class="icon-flag-o"></i> icon-flag-o
      %li <i class="icon-flash "></i> icon-flash
      %li <i class="icon-flask"></i> icon-flask
      %li <i class="icon-folder"></i> icon-folder
      %li <i class="icon-folder-o"></i> icon-folder-o
      %li <i class="icon-folder-open"></i> icon-folder-open
      %li <i class="icon-folder-open-o"></i> icon-folder-open-o
      %li <i class="icon-frown-o"></i> icon-frown-o
      %li <i class="icon-gamepad"></i> icon-gamepad
      %li <i class="icon-gavel"></i> icon-gavel
      %li <i class="icon-gear "></i> icon-gear
      %li <i class="icon-gears "></i> icon-gears
      %li <i class="icon-gift"></i> icon-gift
      %li <i class="icon-glass"></i> icon-glass
      %li <i class="icon-globe"></i> icon-globe
      %li <i class="icon-group "></i> icon-group
    %ul
      %li <i class="icon-hdd-o"></i> icon-hdd-o
      %li <i class="icon-headphones"></i> icon-headphones
      %li <i class="icon-heart"></i> icon-heart
      %li <i class="icon-heart-o"></i> icon-heart-o
      %li <i class="icon-home"></i> icon-home
      %li <i class="icon-inbox"></i> icon-inbox
      %li <i class="icon-info"></i> icon-info
      %li <i class="icon-info-circle"></i> icon-info-circle
      %li <i class="icon-key"></i> icon-key
      %li <i class="icon-keyboard-o"></i> icon-keyboard-o
      %li <i class="icon-laptop"></i> icon-laptop
      %li <i class="icon-leaf"></i> icon-leaf
      %li <i class="icon-legal "></i> icon-legal
      %li <i class="icon-lemon-o"></i> icon-lemon-o
      %li <i class="icon-level-down"></i> icon-level-down
      %li <i class="icon-level-up"></i> icon-level-up
      %li <i class="icon-lightbulb-o"></i> icon-lightbulb-o
      %li <i class="icon-location-arrow"></i> icon-location-arrow
      %li <i class="icon-lock"></i> icon-lock
      %li <i class="icon-magic"></i> icon-magic
      %li <i class="icon-magnet"></i> icon-magnet
      %li <i class="icon-mail-forward "></i> icon-mail-forward
      %li <i class="icon-mail-reply "></i> icon-mail-reply
      %li <i class="icon-mail-reply-all"></i> icon-mail-reply-all
      %li <i class="icon-male"></i> icon-male
      %li <i class="icon-map-marker"></i> icon-map-marker
      %li <i class="icon-meh-o"></i> icon-meh-o
      %li <i class="icon-microphone"></i> icon-microphone
      %li <i class="icon-microphone-slash"></i> icon-microphone-slash
      %li <i class="icon-minus"></i> icon-minus
      %li <i class="icon-minus-circle"></i> icon-minus-circle
      %li <i class="icon-minus-square"></i> icon-minus-square
      %li <i class="icon-minus-square-o"></i> icon-minus-square-o
      %li <i class="icon-mobile"></i> icon-mobile
      %li <i class="icon-mobile-phone "></i> icon-mobile-phone
      %li <i class="icon-money"></i> icon-money
      %li <i class="icon-moon-o"></i> icon-moon-o
      %li <i class="icon-music"></i> icon-music
      %li <i class="icon-pencil"></i> icon-pencil
      %li <i class="icon-pencil-square"></i> icon-pencil-square
      %li <i class="icon-pencil-square-o"></i> icon-pencil-square-o
      %li <i class="icon-phone"></i> icon-phone
      %li <i class="icon-phone-square"></i> icon-phone-square
      %li <i class="icon-picture-o"></i> icon-picture-o
      %li <i class="icon-plane"></i> icon-plane
      %li <i class="icon-plus"></i> icon-plus
      %li <i class="icon-plus-circle"></i> icon-plus-circle
      %li <i class="icon-plus-square"></i> icon-plus-square
      %li <i class="icon-plus-square-o"></i> icon-plus-square-o
      %li <i class="icon-power-off"></i> icon-power-off
      %li <i class="icon-print"></i> icon-print
      %li <i class="icon-puzzle-piece"></i> icon-puzzle-piece
      %li <i class="icon-qrcode"></i> icon-qrcode
      %li <i class="icon-question"></i> icon-question
      %li <i class="icon-question-circle"></i> icon-question-circle
      %li <i class="icon-quote-left"></i> icon-quote-left
      %li <i class="icon-quote-right"></i> icon-quote-right
      %li <i class="icon-random"></i> icon-random
      %li <i class="icon-refresh"></i> icon-refresh
      %li <i class="icon-reply"></i> icon-reply
      %li <i class="icon-reply-all"></i> icon-reply-all
      %li <i class="icon-retweet"></i> icon-retweet
      %li <i class="icon-road"></i> icon-road
      %li <i class="icon-rocket"></i> icon-rocket
      %li <i class="icon-rss"></i> icon-rss
      %li <i class="icon-rss-square"></i> icon-rss-square
      %li <i class="icon-search"></i> icon-search
      %li <i class="icon-search-minus"></i> icon-search-minus
      %li <i class="icon-search-plus"></i> icon-search-plus
      %li <i class="icon-share"></i> icon-share
      %li <i class="icon-share-square"></i> icon-share-square
      %li <i class="icon-share-square-o"></i> icon-share-square-o
      %li <i class="icon-shield"></i> icon-shield
      %li <i class="icon-shopping-cart"></i> icon-shopping-cart
      %li <i class="icon-sign-in"></i> icon-sign-in
      %li <i class="icon-sign-out"></i> icon-sign-out
      %li <i class="icon-signal"></i> icon-signal
      %li <i class="icon-sitemap"></i> icon-sitemap
      %li <i class="icon-smile-o"></i> icon-smile-o
      %li <i class="icon-sort"></i> icon-sort
      %li <i class="icon-sort-alpha-asc"></i> icon-sort-alpha-asc
      %li <i class="icon-sort-alpha-desc"></i> icon-sort-alpha-desc
      %li <i class="icon-sort-amount-asc"></i> icon-sort-amount-asc
      %li <i class="icon-sort-amount-desc"></i> icon-sort-amount-desc
      %li <i class="icon-sort-asc"></i> icon-sort-asc
      %li <i class="icon-sort-desc"></i> icon-sort-desc
      %li <i class="icon-sort-down "></i> icon-sort-down
      %li <i class="icon-sort-numeric-asc"></i> icon-sort-numeric-asc
      %li <i class="icon-sort-numeric-desc"></i> icon-sort-numeric-desc
      %li <i class="icon-sort-up "></i> icon-sort-up
      %li <i class="icon-spinner"></i> icon-spinner
      %li <i class="icon-square"></i> icon-square
      %li <i class="icon-square-o"></i> icon-square-o
      %li <i class="icon-star"></i> icon-star
      %li <i class="icon-star-half"></i> icon-star-half
      %li <i class="icon-star-half-empty "></i> icon-star-half-empty
      %li <i class="icon-star-half-full "></i> icon-star-half-full
      %li <i class="icon-star-half-o"></i> icon-star-half-o
      %li <i class="icon-star-o"></i> icon-star-o
      %li <i class="icon-subscript"></i> icon-subscript
      %li <i class="icon-suitcase"></i> icon-suitcase
      %li <i class="icon-sun-o"></i> icon-sun-o
      %li <i class="icon-superscript"></i> icon-superscript
      %li <i class="icon-tablet"></i> icon-tablet
      %li <i class="icon-tachometer"></i> icon-tachometer
      %li <i class="icon-tag"></i> icon-tag
      %li <i class="icon-tags"></i> icon-tags
      %li <i class="icon-tasks"></i> icon-tasks
      %li <i class="icon-terminal"></i> icon-terminal
      %li <i class="icon-thumb-tack"></i> icon-thumb-tack
      %li <i class="icon-thumbs-down"></i> icon-thumbs-down
      %li <i class="icon-thumbs-o-down"></i> icon-thumbs-o-down
      %li <i class="icon-thumbs-o-up"></i> icon-thumbs-o-up
      %li <i class="icon-thumbs-up"></i> icon-thumbs-up
    %ul
      %li <i class="icon-ticket"></i> icon-ticket
      %li <i class="icon-times"></i> icon-times
      %li <i class="icon-times-circle"></i> icon-times-circle
      %li <i class="icon-times-circle-o"></i> icon-times-circle-o
      %li <i class="icon-tint"></i> icon-tint
      %li <i class="icon-toggle-down "></i> icon-toggle-down
      %li <i class="icon-toggle-left "></i> icon-toggle-left
      %li <i class="icon-toggle-right "></i> icon-toggle-right
      %li <i class="icon-toggle-up "></i> icon-toggle-up
      %li <i class="icon-trash-o"></i> icon-trash-o
      %li <i class="icon-trophy"></i> icon-trophy
      %li <i class="icon-truck"></i> icon-truck
      %li <i class="icon-umbrella"></i> icon-umbrella
      %li <i class="icon-unlock"></i> icon-unlock
      %li <i class="icon-unlock-alt"></i> icon-unlock-alt
      %li <i class="icon-unsorted "></i> icon-unsorted
      %li <i class="icon-upload"></i> icon-upload
      %li <i class="icon-user"></i> icon-user
      %li <i class="icon-users"></i> icon-users
      %li <i class="icon-video-camera"></i> icon-video-camera
      %li <i class="icon-volume-down"></i> icon-volume-down
      %li <i class="icon-volume-off"></i> icon-volume-off
      %li <i class="icon-volume-up"></i> icon-volume-up
      %li <i class="icon-warning "></i> icon-warning
      %li <i class="icon-wheelchair"></i> icon-wheelchair
      %li <i class="icon-wrench"></i> icon-wrench
      %li <i class="icon-check-square"></i> icon-check-square
      %li <i class="icon-check-square-o"></i> icon-check-square-o
      %li <i class="icon-circle"></i> icon-circle
      %li <i class="icon-circle-o"></i> icon-circle-o
      %li <i class="icon-dot-circle-o"></i> icon-dot-circle-o
      %li <i class="icon-minus-square"></i> icon-minus-square
      %li <i class="icon-minus-square-o"></i> icon-minus-square-o
      %li <i class="icon-plus-square"></i> icon-plus-square
      %li <i class="icon-plus-square-o"></i> icon-plus-square-o
      %li <i class="icon-square"></i> icon-square
      %li <i class="icon-square-o"></i> icon-square-o
      %li <i class="icon-bitcoin "></i> icon-bitcoin
      %li <i class="icon-btc"></i> icon-btc
      %li <i class="icon-cny "></i> icon-cny
      %li <i class="icon-dollar "></i> icon-dollar
      %li <i class="icon-eur"></i> icon-eur
      %li <i class="icon-euro "></i> icon-euro
      %li <i class="icon-gbp"></i> icon-gbp
      %li <i class="icon-inr"></i> icon-inr
      %li <i class="icon-jpy"></i> icon-jpy
      %li <i class="icon-krw"></i> icon-krw
      %li <i class="icon-money"></i> icon-money
      %li <i class="icon-rmb "></i> icon-rmb
      %li <i class="icon-rouble "></i> icon-rouble
      %li <i class="icon-rub"></i> icon-rub
      %li <i class="icon-ruble "></i> icon-ruble
      %li <i class="icon-rupee "></i> icon-rupee
      %li <i class="icon-try"></i> icon-try
      %li <i class="icon-turkish-lira "></i> icon-turkish-lira
      %li <i class="icon-usd"></i> icon-usd
      %li <i class="icon-won "></i> icon-won
      %li <i class="icon-yen "></i> icon-yen
      %li <i class="icon-align-center"></i> icon-align-center
      %li <i class="icon-align-justify"></i> icon-align-justify
      %li <i class="icon-align-left"></i> icon-align-left
      %li <i class="icon-align-right"></i> icon-align-right
      %li <i class="icon-bold"></i> icon-bold
      %li <i class="icon-chain "></i> icon-chain
      %li <i class="icon-chain-broken"></i> icon-chain-broken
      %li <i class="icon-clipboard"></i> icon-clipboard
      %li <i class="icon-columns"></i> icon-columns
      %li <i class="icon-copy "></i> icon-copy
      %li <i class="icon-cut "></i> icon-cut
      %li <i class="icon-dedent "></i> icon-dedent
      %li <i class="icon-eraser"></i> icon-eraser
      %li <i class="icon-file"></i> icon-file
      %li <i class="icon-file-o"></i> icon-file-o
      %li <i class="icon-file-text"></i> icon-file-text
      %li <i class="icon-file-text-o"></i> icon-file-text-o
      %li <i class="icon-files-o"></i> icon-files-o
      %li <i class="icon-floppy-o"></i> icon-floppy-o
      %li <i class="icon-font"></i> icon-font
      %li <i class="icon-indent"></i> icon-indent
      %li <i class="icon-italic"></i> icon-italic
      %li <i class="icon-link"></i> icon-link
      %li <i class="icon-list"></i> icon-list
      %li <i class="icon-list-alt"></i> icon-list-alt
      %li <i class="icon-list-ol"></i> icon-list-ol
      %li <i class="icon-list-ul"></i> icon-list-ul
      %li <i class="icon-outdent"></i> icon-outdent
      %li <i class="icon-paperclip"></i> icon-paperclip
      %li <i class="icon-paste "></i> icon-paste
      %li <i class="icon-repeat"></i> icon-repeat
      %li <i class="icon-rotate-left "></i> icon-rotate-left
      %li <i class="icon-rotate-right "></i> icon-rotate-right
      %li <i class="icon-save "></i> icon-save
      %li <i class="icon-scissors"></i> icon-scissors
      %li <i class="icon-strikethrough"></i> icon-strikethrough
      %li <i class="icon-table"></i> icon-table
      %li <i class="icon-text-height"></i> icon-text-height
      %li <i class="icon-text-width"></i> icon-text-width
      %li <i class="icon-th"></i> icon-th
      %li <i class="icon-th-large"></i> icon-th-large
      %li <i class="icon-th-list"></i> icon-th-list
      %li <i class="icon-underline"></i> icon-underline
      %li <i class="icon-undo"></i> icon-undo
      %li <i class="icon-unlink "></i> icon-unlink
      %li <i class="icon-angle-double-down"></i> icon-angle-double-down
      %li <i class="icon-angle-double-left"></i> icon-angle-double-left
      %li <i class="icon-angle-double-right"></i> icon-angle-double-right
      %li <i class="icon-angle-double-up"></i> icon-angle-double-up
      %li <i class="icon-angle-down"></i> icon-angle-down
      %li <i class="icon-angle-left"></i> icon-angle-left
      %li <i class="icon-angle-right"></i> icon-angle-right
      %li <i class="icon-angle-up"></i> icon-angle-up
      %li <i class="icon-arrow-circle-down"></i> icon-arrow-circle-down
      %li <i class="icon-arrow-circle-left"></i> icon-arrow-circle-left
      %li <i class="icon-arrow-circle-o-down"></i> icon-arrow-circle-o-down
    %ul
      %li <i class="icon-arrow-circle-o-left"></i> icon-arrow-circle-o-left
      %li <i class="icon-arrow-circle-o-right"></i> icon-arrow-circle-o-right
      %li <i class="icon-arrow-circle-o-up"></i> icon-arrow-circle-o-up
      %li <i class="icon-arrow-circle-right"></i> icon-arrow-circle-right
      %li <i class="icon-arrow-circle-up"></i> icon-arrow-circle-up
      %li <i class="icon-arrow-down"></i> icon-arrow-down
      %li <i class="icon-arrow-left"></i> icon-arrow-left
      %li <i class="icon-arrow-right"></i> icon-arrow-right
      %li <i class="icon-arrow-up"></i> icon-arrow-up
      %li <i class="icon-arrows"></i> icon-arrows
      %li <i class="icon-arrows-alt"></i> icon-arrows-alt
      %li <i class="icon-arrows-h"></i> icon-arrows-h
      %li <i class="icon-arrows-v"></i> icon-arrows-v
      %li <i class="icon-caret-down"></i> icon-caret-down
      %li <i class="icon-caret-left"></i> icon-caret-left
      %li <i class="icon-caret-right"></i> icon-caret-right
      %li <i class="icon-caret-square-o-down"></i> icon-caret-square-o-down
      %li <i class="icon-caret-square-o-left"></i> icon-caret-square-o-left
      %li <i class="icon-caret-square-o-right"></i> icon-caret-square-o-right
      %li <i class="icon-caret-square-o-up"></i> icon-caret-square-o-up
      %li <i class="icon-caret-up"></i> icon-caret-up
      %li <i class="icon-chevron-circle-down"></i> icon-chevron-circle-down
      %li <i class="icon-chevron-circle-left"></i> icon-chevron-circle-left
      %li <i class="icon-chevron-circle-right"></i> icon-chevron-circle-right
      %li <i class="icon-chevron-circle-up"></i> icon-chevron-circle-up
      %li <i class="icon-chevron-down"></i> icon-chevron-down
      %li <i class="icon-chevron-left"></i> icon-chevron-left
      %li <i class="icon-chevron-right"></i> icon-chevron-right
      %li <i class="icon-chevron-up"></i> icon-chevron-up
      %li <i class="icon-hand-o-down"></i> icon-hand-o-down
      %li <i class="icon-hand-o-left"></i> icon-hand-o-left
      %li <i class="icon-hand-o-right"></i> icon-hand-o-right
      %li <i class="icon-hand-o-up"></i> icon-hand-o-up
      %li <i class="icon-long-arrow-down"></i> icon-long-arrow-down
      %li <i class="icon-long-arrow-left"></i> icon-long-arrow-left
      %li <i class="icon-long-arrow-right"></i> icon-long-arrow-right
      %li <i class="icon-long-arrow-up"></i> icon-long-arrow-up
      %li <i class="icon-toggle-down "></i> icon-toggle-down
      %li <i class="icon-toggle-left "></i> icon-toggle-left
      %li <i class="icon-toggle-right "></i> icon-toggle-right
      %li <i class="icon-toggle-up "></i> icon-toggle-up
      %li <i class="icon-arrows-alt"></i> icon-arrows-alt
      %li <i class="icon-backward"></i> icon-backward
      %li <i class="icon-compress"></i> icon-compress
      %li <i class="icon-eject"></i> icon-eject
      %li <i class="icon-expand"></i> icon-expand
      %li <i class="icon-fast-backward"></i> icon-fast-backward
      %li <i class="icon-fast-forward"></i> icon-fast-forward
      %li <i class="icon-forward"></i> icon-forward
      %li <i class="icon-pause"></i> icon-pause
      %li <i class="icon-play"></i> icon-play
      %li <i class="icon-play-circle"></i> icon-play-circle
      %li <i class="icon-play-circle-o"></i> icon-play-circle-o
      %li <i class="icon-step-backward"></i> icon-step-backward
      %li <i class="icon-step-forward"></i> icon-step-forward
      %li <i class="icon-stop"></i> icon-stop
      %li <i class="icon-youtube-play"></i> icon-youtube-play
      %li <i class="icon-adn"></i> icon-adn
      %li <i class="icon-android"></i> icon-android
      %li <i class="icon-apple"></i> icon-apple
      %li <i class="icon-bitbucket"></i> icon-bitbucket
      %li <i class="icon-bitbucket-square"></i> icon-bitbucket-square
      %li <i class="icon-bitcoin "></i> icon-bitcoin
      %li <i class="icon-btc"></i> icon-btc
      %li <i class="icon-css3"></i> icon-css3
      %li <i class="icon-dribbble"></i> icon-dribbble
      %li <i class="icon-dropbox"></i> icon-dropbox
      %li <i class="icon-facebook"></i> icon-facebook
      %li <i class="icon-facebook-square"></i> icon-facebook-square
      %li <i class="icon-flickr"></i> icon-flickr
      %li <i class="icon-foursquare"></i> icon-foursquare
      %li <i class="icon-github"></i> icon-github
      %li <i class="icon-github-alt"></i> icon-github-alt
      %li <i class="icon-github-square"></i> icon-github-square
      %li <i class="icon-gittip"></i> icon-gittip
      %li <i class="icon-google-plus"></i> icon-google-plus
      %li <i class="icon-google-plus-square"></i> icon-google-plus-square
      %li <i class="icon-html5"></i> icon-html5
      %li <i class="icon-instagram"></i> icon-instagram
      %li <i class="icon-linkedin"></i> icon-linkedin
      %li <i class="icon-linkedin-square"></i> icon-linkedin-square
      %li <i class="icon-linux"></i> icon-linux
      %li <i class="icon-maxcdn"></i> icon-maxcdn
      %li <i class="icon-pagelines"></i> icon-pagelines
      %li <i class="icon-pinterest"></i> icon-pinterest
      %li <i class="icon-pinterest-square"></i> icon-pinterest-square
      %li <i class="icon-renren"></i> icon-renren
      %li <i class="icon-skype"></i> icon-skype
      %li <i class="icon-stack-exchange"></i> icon-stack-exchange
      %li <i class="icon-stack-overflow"></i> icon-stack-overflow
      %li <i class="icon-trello"></i> icon-trello
      %li <i class="icon-tumblr"></i> icon-tumblr
      %li <i class="icon-tumblr-square"></i> icon-tumblr-square
      %li <i class="icon-twitter"></i> icon-twitter
      %li <i class="icon-twitter-square"></i> icon-twitter-square
      %li <i class="icon-vimeo-square"></i> icon-vimeo-square
      %li <i class="icon-vk"></i> icon-vk
      %li <i class="icon-weibo"></i> icon-weibo
      %li <i class="icon-windows"></i> icon-windows
      %li <i class="icon-xing"></i> icon-xing
      %li <i class="icon-xing-square"></i> icon-xing-square
      %li <i class="icon-youtube"></i> icon-youtube
      %li <i class="icon-youtube-play"></i> icon-youtube-play
      %li <i class="icon-youtube-square"></i> icon-youtube-square
      %li <i class="icon-ambulance"></i> icon-ambulance
      %li <i class="icon-h-square"></i> icon-h-square
      %li <i class="icon-hospital-o"></i> icon-hospital-o
      %li <i class="icon-medkit"></i> icon-medkit
      %li <i class="icon-plus-square"></i> icon-plus-square
      %li <i class="icon-stethoscope"></i> icon-stethoscope
      %li <i class="icon-user-md"></i> icon-user-md
      %li <i class="icon-wheelchair"></i> icon-wheelchair
  -#
  -#.styleguide-icons
  -#  %ul
  -#    %li <i class="icon-icon-adjust"></i> icon- icon-adjust
  -#    %li <i class="icon-icon-asterisk"></i> icon- icon-asterisk
  -#    %li <i class="icon-icon-ban-circle"></i> icon- icon-ban-circle
  -#    %li <i class="icon-icon-bar-chart"></i> icon- icon-bar-chart
  -#    %li <i class="icon-icon-barcode"></i> icon- icon-barcode
  -#    %li <i class="icon-icon-beaker"></i> icon- icon-beaker
  -#    %li <i class="icon-icon-bell"></i> icon- icon-bell
  -#    %li <i class="icon-icon-bolt"></i> icon- icon-bolt
  -#    %li <i class="icon-icon-book"></i> icon- icon-book
  -#    %li <i class="icon-icon-bookmark"></i> icon- icon-bookmark
  -#    %li <i class="icon-icon-bookmark-empty"></i> icon- icon-bookmark-empty
  -#    %li <i class="icon-icon-briefcase"></i> icon- icon-briefcase
  -#    %li <i class="icon-icon-bullhorn"></i> icon- icon-bullhorn
  -#    %li <i class="icon-icon-calendar"></i> icon- icon-calendar
  -#    %li <i class="icon-icon-camera"></i> icon- icon-camera
  -#    %li <i class="icon-icon-camera-retro"></i> icon- icon-camera-retro
  -#    %li <i class="icon-icon-certificate"></i> icon- icon-certificate
  -#    %li <i class="icon-icon-check"></i> icon- icon-check
  -#    %li <i class="icon-icon-check-empty"></i> icon- icon-check-empty
  -#    %li <i class="icon-icon-cloud"></i> icon- icon-cloud
  -#    %li <i class="icon-icon-cog"></i> icon- icon-cog
  -#    %li <i class="icon-icon-cogs"></i> icon- icon-cogs
  -#    %li <i class="icon-icon-comment"></i> icon- icon-comment
  -#    %li <i class="icon-icon-comment-alt"></i> icon- icon-comment-alt
  -#    %li <i class="icon-icon-comments"></i> icon- icon-comments
  -#    %li <i class="icon-icon-comments-alt"></i> icon- icon-comments-alt
  -#    %li <i class="icon-icon-credit-card"></i> icon- icon-credit-card
  -#    %li <i class="icon-icon-dashboard"></i> icon- icon-dashboard
  -#    %li <i class="icon-icon-download"></i> icon- icon-download
  -#    %li <i class="icon-icon-download-alt"></i> icon- icon-download-alt
  -#    %li <i class="icon-icon-edit"></i> icon- icon-edit
  -#    %li <i class="icon-icon-envelope"></i> icon- icon-envelope
  -#    %li <i class="icon-icon-envelope-alt"></i> icon- icon-envelope-alt
  -#    %li <i class="icon-icon-exclamation-sign"></i> icon- icon-exclamation-sign
  -#    %li <i class="icon-icon-external-link"></i> icon- icon-external-link
  -#    %li <i class="icon-icon-eye-close"></i> icon- icon-eye-close
  -#    %li <i class="icon-icon-eye-open"></i> icon- icon-eye-open
  -#    %li <i class="icon-icon-facetime-video"></i> icon- icon-facetime-video
  -#    %li <i class="icon-icon-film"></i> icon- icon-film
  -#    %li <i class="icon-icon-filter"></i> icon- icon-filter
  -#    %li <i class="icon-icon-fire"></i> icon- icon-fire
  -#    %li <i class="icon-icon-flag"></i> icon- icon-flag
  -#    %li <i class="icon-icon-folder-close"></i> icon- icon-folder-close
  -#    %li <i class="icon-icon-folder-open"></i> icon- icon-folder-open
  -#    %li <i class="icon-icon-gift"></i> icon- icon-gift
  -#    %li <i class="icon-icon-glass"></i> icon- icon-glass
  -#    %li <i class="icon-icon-globe"></i> icon- icon-globe
  -#    %li <i class="icon-icon-group"></i> icon- icon-group
  -#    %li <i class="icon-icon-hdd"></i> icon- icon-hdd
  -#    %li <i class="icon-icon-headphones"></i> icon- icon-headphones
  -#    %li <i class="icon-icon-heart"></i> icon- icon-heart
  -#    %li <i class="icon-icon-heart-empty"></i> icon- icon-heart-empty
  -#    %li <i class="icon-icon-home"></i> icon- icon-home
  -#  %ul
  -#    %li <i class="icon-icon-inbox"></i> icon- icon-inbox
  -#    %li <i class="icon-icon-info-sign"></i> icon- icon-info-sign
  -#    %li <i class="icon-icon-key"></i> icon- icon-key
  -#    %li <i class="icon-icon-leaf"></i> icon- icon-leaf
  -#    %li <i class="icon-icon-legal"></i> icon- icon-legal
  -#    %li <i class="icon-icon-lemon"></i> icon- icon-lemon
  -#    %li <i class="icon-icon-lock"></i> icon- icon-lock
  -#    %li <i class="icon-icon-unlock"></i> icon- icon-unlock
  -#    %li <i class="icon-icon-magic"></i> icon- icon-magic
  -#    %li <i class="icon-icon-magnet"></i> icon- icon-magnet
  -#    %li <i class="icon-icon-map-marker"></i> icon- icon-map-marker
  -#    %li <i class="icon-icon-minus"></i> icon- icon-minus
  -#    %li <i class="icon-icon-minus-sign"></i> icon- icon-minus-sign
  -#    %li <i class="icon-icon-money"></i> icon- icon-money
  -#    %li <i class="icon-icon-move"></i> icon- icon-move
  -#    %li <i class="icon-icon-music"></i> icon- icon-music
  -#    %li <i class="icon-icon-off"></i> icon- icon-off
  -#    %li <i class="icon-icon-ok"></i> icon- icon-ok
  -#    %li <i class="icon-icon-ok-circle"></i> icon- icon-ok-circle
  -#    %li <i class="icon-icon-ok-sign"></i> icon- icon-ok-sign
  -#    %li <i class="icon-icon-pencil"></i> icon- icon-pencil
  -#    %li <i class="icon-icon-picture"></i> icon- icon-picture
  -#    %li <i class="icon-icon-plane"></i> icon- icon-plane
  -#    %li <i class="icon-icon-plus"></i> icon- icon-plus
  -#    %li <i class="icon-icon-plus-sign"></i> icon- icon-plus-sign
  -#    %li <i class="icon-icon-print"></i> icon- icon-print
  -#    %li <i class="icon-icon-pushpin"></i> icon- icon-pushpin
  -#    %li <i class="icon-icon-qrcode"></i> icon- icon-qrcode
  -#    %li <i class="icon-icon-question-sign"></i> icon- icon-question-sign
  -#    %li <i class="icon-icon-random"></i> icon- icon-random
  -#    %li <i class="icon-icon-refresh"></i> icon- icon-refresh
  -#    %li <i class="icon-icon-remove"></i> icon- icon-remove
  -#    %li <i class="icon-icon-remove-circle"></i> icon- icon-remove-circle
  -#    %li <i class="icon-icon-remove-sign"></i> icon- icon-remove-sign
  -#    %li <i class="icon-icon-reorder"></i> icon- icon-reorder
  -#    %li <i class="icon-icon-resize-horizontal"></i> icon- icon-resize-horizontal
  -#    %li <i class="icon-icon-resize-vertical"></i> icon- icon-resize-vertical
  -#    %li <i class="icon-icon-retweet"></i> icon- icon-retweet
  -#    %li <i class="icon-icon-road"></i> icon- icon-road
  -#    %li <i class="icon-icon-rss"></i> icon- icon-rss
  -#    %li <i class="icon-icon-screenshot"></i> icon- icon-screenshot
  -#    %li <i class="icon-icon-search"></i> icon- icon-search
  -#    %li <i class="icon-icon-share"></i> icon- icon-share
  -#    %li <i class="icon-icon-share-alt"></i> icon- icon-share-alt
  -#    %li <i class="icon-icon-shopping-cart"></i> icon- icon-shopping-cart
  -#    %li <i class="icon-icon-signal"></i> icon- icon-signal
  -#    %li <i class="icon-icon-signin"></i> icon- icon-signin
  -#    %li <i class="icon-icon-signout"></i> icon- icon-signout
  -#    %li <i class="icon-icon-sitemap"></i> icon- icon-sitemap
  -#    %li <i class="icon-icon-sort"></i> icon- icon-sort
  -#    %li <i class="icon-icon-sort-down"></i> icon- icon-sort-down
  -#    %li <i class="icon-icon-sort-up"></i> icon- icon-sort-up
  -#    %li <i class="icon-icon-star"></i> icon- icon-star
  -#  %ul
  -#    %li <i class="icon-icon-star-empty"></i> icon- icon-star-empty
  -#    %li <i class="icon-icon-star-half"></i> icon- icon-star-half
  -#    %li <i class="icon-icon-tag"></i> icon- icon-tag
  -#    %li <i class="icon-icon-tags"></i> icon- icon-tags
  -#    %li <i class="icon-icon-tasks"></i> icon- icon-tasks
  -#    %li <i class="icon-icon-thumbs-down"></i> icon- icon-thumbs-down
  -#    %li <i class="icon-icon-thumbs-up"></i> icon- icon-thumbs-up
  -#    %li <i class="icon-icon-time"></i> icon- icon-time
  -#    %li <i class="icon-icon-tint"></i> icon- icon-tint
  -#    %li <i class="icon-icon-trash"></i> icon- icon-trash
  -#    %li <i class="icon-icon-trophy"></i> icon- icon-trophy
  -#    %li <i class="icon-icon-truck"></i> icon- icon-truck
  -#    %li <i class="icon-icon-umbrella"></i> icon- icon-umbrella
  -#    %li <i class="icon-icon-upload"></i> icon- icon-upload
  -#    %li <i class="icon-icon-upload-alt"></i> icon- icon-upload-alt
  -#    %li <i class="icon-icon-user"></i> icon- icon-user
  -#    %li <i class="icon-icon-user-md"></i> icon- icon-user-md
  -#    %li <i class="icon-icon-volume-off"></i> icon- icon-volume-off
  -#    %li <i class="icon-icon-volume-down"></i> icon- icon-volume-down
  -#    %li <i class="icon-icon-volume-up"></i> icon- icon-volume-up
  -#    %li <i class="icon-icon-warning-sign"></i> icon- icon-warning-sign
  -#    %li <i class="icon-icon-wrench"></i> icon- icon-wrench
  -#    %li <i class="icon-icon-zoom-in"></i> icon- icon-zoom-in
  -#    %li <i class="icon-icon-zoom-out"></i> icon- icon-zoom-out
  -#    %li <i class="icon-icon-file"></i> icon- icon-file
  -#    %li <i class="icon-icon-cut"></i> icon- icon-cut
  -#    %li <i class="icon-icon-copy"></i> icon- icon-copy
  -#    %li <i class="icon-icon-paste"></i> icon- icon-paste
  -#    %li <i class="icon-icon-save"></i> icon- icon-save
  -#    %li <i class="icon-icon-undo"></i> icon- icon-undo
  -#    %li <i class="icon-icon-repeat"></i> icon- icon-repeat
  -#    %li <i class="icon-icon-paper-clip"></i> icon- icon-paper-clip
  -#    %li <i class="icon-icon-text-height"></i> icon- icon-text-height
  -#    %li <i class="icon-icon-text-width"></i> icon- icon-text-width
  -#    %li <i class="icon-icon-align-left"></i> icon- icon-align-left
  -#    %li <i class="icon-icon-align-center"></i> icon- icon-align-center
  -#    %li <i class="icon-icon-align-right"></i> icon- icon-align-right
  -#    %li <i class="icon-icon-align-justify"></i> icon- icon-align-justify
  -#    %li <i class="icon-icon-indent-left"></i> icon- icon-indent-left
  -#    %li <i class="icon-icon-indent-right"></i> icon- icon-indent-right
  -#    %li <i class="icon-icon-font"></i> icon- icon-font
  -#    %li <i class="icon-icon-bold"></i> icon- icon-bold
  -#    %li <i class="icon-icon-italic"></i> icon- icon-italic
  -#    %li <i class="icon-icon-strikethrough"></i> icon- icon-strikethrough
  -#    %li <i class="icon-icon-underline"></i> icon- icon-underline
  -#    %li <i class="icon-icon-link"></i> icon- icon-link
  -#    %li <i class="icon-icon-columns"></i> icon- icon-columns
  -#    %li <i class="icon-icon-table"></i> icon- icon-table
  -#    %li <i class="icon-icon-th-large"></i> icon- icon-th-large
  -#    %li <i class="icon-icon-th"></i> icon- icon-th
  -#    %li <i class="icon-icon-th-list"></i> icon- icon-th-list
  -#    %li <i class="icon-icon-list"></i> icon- icon-list
  -#    %li <i class="icon-icon-list-ol"></i> icon- icon-list-ol
  -#  %ul
  -#    %li <i class="icon-icon-list-ul"></i> icon- icon-list-ul
  -#    %li <i class="icon-icon-list-alt"></i> icon- icon-list-alt
  -#    %li <i class="icon-icon-arrow-down"></i> icon- icon-arrow-down
  -#    %li <i class="icon-icon-arrow-left"></i> icon- icon-arrow-left
  -#    %li <i class="icon-icon-arrow-right"></i> icon- icon-arrow-right
  -#    %li <i class="icon-icon-arrow-up"></i> icon- icon-arrow-up
  -#    %li <i class="icon-icon-chevron-down"></i> icon- icon-chevron-down
  -#    %li <i class="icon-icon-circle-arrow-down"></i> icon- icon-circle-arrow-down
  -#    %li <i class="icon-icon-circle-arrow-left"></i> icon- icon-circle-arrow-left
  -#    %li <i class="icon-icon-circle-arrow-right"></i> icon- icon-circle-arrow-right
  -#    %li <i class="icon-icon-circle-arrow-up"></i> icon- icon-circle-arrow-up
  -#    %li <i class="icon-icon-chevron-left"></i> icon- icon-chevron-left
  -#    %li <i class="icon-icon-caret-down"></i> icon- icon-caret-down
  -#    %li <i class="icon-icon-caret-left"></i> icon- icon-caret-left
  -#    %li <i class="icon-icon-caret-right"></i> icon- icon-caret-right
  -#    %li <i class="icon-icon-caret-up"></i> icon- icon-caret-up
  -#    %li <i class="icon-icon-chevron-right"></i> icon- icon-chevron-right
  -#    %li <i class="icon-icon-hand-down"></i> icon- icon-hand-down
  -#    %li <i class="icon-icon-hand-left"></i> icon- icon-hand-left
  -#    %li <i class="icon-icon-hand-right"></i> icon- icon-hand-right
  -#    %li <i class="icon-icon-hand-up"></i> icon- icon-hand-up
  -#    %li <i class="icon-icon-chevron-up"></i> icon- icon-chevron-up
  -#    %li <i class="icon-icon-play-circle"></i> icon- icon-play-circle
  -#    %li <i class="icon-icon-play"></i> icon- icon-play
  -#    %li <i class="icon-icon-pause"></i> icon- icon-pause
  -#    %li <i class="icon-icon-stop"></i> icon- icon-stop
  -#    %li <i class="icon-icon-step-backward"></i> icon- icon-step-backward
  -#    %li <i class="icon-icon-fast-backward"></i> icon- icon-fast-backward
  -#    %li <i class="icon-icon-backward"></i> icon- icon-backward
  -#    %li <i class="icon-icon-forward"></i> icon- icon-forward
  -#    %li <i class="icon-icon-fast-forward"></i> icon- icon-fast-forward
  -#    %li <i class="icon-icon-step-forward"></i> icon- icon-step-forward
  -#    %li <i class="icon-icon-eject"></i> icon- icon-eject
  -#    %li <i class="icon-icon-fullscreen"></i> icon- icon-fullscreen
  -#    %li <i class="icon-icon-resize-full"></i> icon- icon-resize-full
  -#    %li <i class="icon-icon-resize-small"></i> icon- icon-resize-small
  -#    %li <i class="icon-icon-phone"></i> icon- icon-phone
  -#    %li <i class="icon-icon-phone-sign"></i> icon- icon-phone-sign
  -#    %li <i class="icon-icon-facebook"></i> icon- icon-facebook
  -#    %li <i class="icon-icon-facebook-sign"></i> icon- icon-facebook-sign
  -#    %li <i class="icon-icon-twitter"></i> icon- icon-twitter
  -#    %li <i class="icon-icon-twitter-sign"></i> icon- icon-twitter-sign
  -#    %li <i class="icon-icon-github"></i> icon- icon-github
  -#    %li <i class="icon-icon-github-sign"></i> icon- icon-github-sign
  -#    %li <i class="icon-icon-linkedin"></i> icon- icon-linkedin
  -#    %li <i class="icon-icon-linkedin-sign"></i> icon- icon-linkedin-sign
  -#    %li <i class="icon-icon-pinterest"></i> icon- icon-pinterest
  -#    %li <i class="icon-icon-pinterest-sign"></i> icon- icon-pinterest-sign
  -#    %li <i class="icon-icon-google-plus"></i> icon- icon-google-plus
  -#    %li <i class="icon-icon-google-plus-sign"></i> icon- icon-google-plus-sign
  -#    %li <i class="icon-icon-sign-blank"></i> icon- icon-sign-blank
