%h2 Settings
%p Set some stuff

%form(role="form")
  %fieldset
    %legend Admin Theme
    #theme_controls.control-group
      .controls
        %label.radio(for="check_dark")
          %input#check_dark(type="radio" name="theme" value="dark") Dark
        %label.radio(for="check_light")
          %input#check_light(type="radio" name="theme" value="light") Light
        %label.radio(for="check_simple")
          %input#check_simple(type="radio" name="theme" value="simple") Simple

