.breadcrumbs
  background-color: #e5e5e5
  border-bottom: 1px solid #d6d6d6
  border-top: 1px solid #d6d6d6
  box-shadow: 0 0 1px white
  position: relative
  top: 75px
  margin-bottom: -35px
  padding-left: 10px
  white-space: nowrap

.breadcrumbs i
  font-size: 14px
  margin-right: 0.5em
  text-align: center

.breadcrumbs > a,
.breadcrumbs > span
  font-size: 12px
  display: inline-block
  padding: 6px 28px 6px 10px
  text-decoration: none
  &:after
    content: '\203A'
    font-size: 3em
    font-weight: 100
    line-height: 0
    display: inline-block
    position: absolute
    margin-top: 7px
    padding-left: 17px
  &:last-child
    color: #444
    font-weight: bold
    &:after
      content: ''
      display: inline

.breadcrumbs .label
  display: none

.breadcrumbs a
  color: #666
  &:hover
    color: #333

