#content
  z-index: 3
  width: auto
  margin: 1px 0 0 220px
  padding-bottom: 30px
  > .filler
    position: fixed
    height: 100%
    width: 100%
  > .main-content
    +box-sizing(border-box)
    padding: 0 1em

.content
  h1, h2, p#notice
    white-space: nowrap
    font-size: 28px
    margin: 0 0 55px
    padding: 20px 0
    line-height: 40px
    min-height: 40px
  h3
    margin: 10px -15px
    padding: 0 15px

