#search
  +user-select(none)
  position: absolute
  z-index: 2
  top: 40px
  right: 20px
  height: 27px
  border-radius: 4px
  input
    +font-size(12)
    width: 185px
    padding: 2px 0px 5px 10px
    border: 0
    margin: 0
    background: transparent
    box-shadow: none
    color: #888
    &:focus
      color: #aaa
  button
    border: 0
    min-width: 32px
    padding: 3px 10px 4px
    background: transparent
    opacity: 0.5
    outline: 0
    &:hover, &:active, &:focus
      opacity: 0.8
    i
      line-height: 22px
