body.sign-in
  background: #eee
  #header h1
    width: 100%

#sign_in
  background: #fff
  width: 350px
  margin: 45px auto 0
  padding: 30px
  border-radius: 10px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  h2
    margin-top: 0
  .form-inputs
    input[type="password"],
    input[type="text"]
      width: 100%
  .form-actions
    +clearfixer
    padding-left: 0
    padding-right: 0
  .form-actions .control-group
    padding-top: 6px
    float: left
  .form-actions .btn
    float: right

